@import "./user-info.css";
@import "./breadcrumb.css";
@import "./page-tabs.css";
* {
  box-sizing: border-box;
}

body,
html {
  direction: rtl;
  font-family: "Alef", sans-serif;
}

#main {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "info-panel breadcrumb-panel"
    "info-panel pages-area"
    "footer footer";
}

#info-panel {
  grid-area: info-panel;
  background-color: #1d4d4f;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url(../../asset/images/model-curly-hair-nose-ring.jpg);
}

#user-info {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

/* #page-tabs {
  grid-area: user-info;
  background-color: #1d4d4f;
  padding: 0 70px;
} */

#breadcrumb-panel {
  grid-area: breadcrumb-panel;
  box-shadow: 0px 0px 6px 0px #919191;
  padding: 15px;
  display: flex;
}

#pages-area {
  grid-area: pages-area;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5dfdf;
}

#footer {
  grid-area: footer;
  color: #ffffff;
  background-color: #357376;
  display: flex;
  justify-content: center;
  align-items: center;
}
